In [3]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

# Hide warning messages in notebook
import warnings
warnings.filterwarnings('ignore')

# File to Load (Remember to Change These)
mouse_drug_data_to_load = "mouse_drug_data.csv"
clinical_trial_data_to_load = "clinicaltrial_data.csv"

# Read the Mouse and Drug Data and the Clinical Trial Data
mouse = pd.read_csv(mouse_drug_data_to_load)
clinical = pd.read_csv(clinical_trial_data_to_load)
# Combine the data into a single dataset
clinical_mouse = mouse.merge(clinical,how="outer")
# Display the data table for preview
clinical_mouse.head()

  Mouse ID      Drug  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0     f234  Stelasyn          0           45.000000                 0
1     f234  Stelasyn          5           47.313491                 0
2     f234  Stelasyn         10           47.904324                 0
3     f234  Stelasyn         15           48.735197                 1
4     f234  Stelasyn         20           51.112713                 2

In [4]:
clinical_mouse["Drug"].value_counts()

Capomulin    230
Ramicane     228
Stelasyn     194
Ketapril     188
Naftisol     186
Zoniferol    182
Placebo      181
Infubinol    178
Ceftamin     178
Propriva     161
Name: Drug, dtype: int64

In [21]:
#Pull only the values that I need for the list
#List of values needed
treatments = ["Capomulin", "Infubinol", "Ketapril", "Placebo"]
#analyze each column in "Drug" and see if it matches the list
study = clinical_mouse["Drug"].isin(treatments)
#create a dataframe that uses only the results that are true.
result = clinical_mouse[study]
#display the results
print(result["Drug"].value_counts())

Capomulin    230
Ketapril     188
Placebo      181
Infubinol    178
Name: Drug, dtype: int64